*{
	padding: 0;
	margin: 0;
}
.shopBox{
	width: 90%;
    /*background: seashell;*/
    border: 1px solid black;
    margin: 5% auto;
}
.shopBox h3{
	margin: 2% 5%;
}
.shopBox .goodsUl{
    list-style: none;
    /*border: 1px solid black;*/
    width: 100%;
    background: #9e9e9e26;
    height: 4rem;
    margin: 0 auto;
}
.shopBox .goodsUl li{
    float: left;
    width: 19%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    margin-left: -3%;
}
.goods_List{
    /*border: 1px solid red;*/
    width: 100%;
    /*background: goldenrod;*/
    /*height: 12rem;*/
    margin: 0 auto;
}
.goods_List ul{
	list-style: none;
    width: 90%;
    height: 12rem;
    margin: 2% 4%;
    border-bottom: 2px solid #9e9e9e1a;
}
/*.goodsName{
	float:left;
	width: 25%;
	height: 100%;
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp:1;
}*/
.goods_List ul li{
	float:left;
	height: 12rem;
    line-height: 12rem;
    text-align: center;
}
.goods_List ul li:first-child{
	
}
.goods_List ul li:nth-child(2) img{
	width:8rem;
	height:8rem ;
    margin-left: 5%;
}
.goods_List ul li:nth-child(3) span{
	width: 33%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-left: 3rem;
}
.goods_List ul li:nth-child(4) em{
	margin-left: -29rem;
    font-size: 1.5rem;
}
.goods_List ul li:nth-child(5) input{
	width: 4rem;
    height: 2rem;
    margin-left: -87%;
    font-size: 1rem;
    -webkit-appearance: normal;
   /*normal|icon|window|button|menu|field;*/
}
.goods_List ul li:nth-child(6) em{
    margin-left: 425%;
    font-size: 1.5rem;
}
.goods_List ul li:last-child input{
	margin-left: 487%;
    font-size: 1.5rem;
    width: 4rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}
